@use "../../App.scss" as *;

.movieList {
    max-width: 100rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 0 2rem;
}

@media (max-width: $phone-size) and (orientation: portrait) {
    .movieList {
        margin: 0 1rem;
    }
}

@media (min-width: $laptop-size) {
    .movieList {
        margin: 0 auto;
    }
}
