@use "../../App.scss" as *;

.moviePage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-inline: 5rem;
    color: $txt-color;
    img {
        border-radius: $border-radius;
        width: 100%;
    }
}

@media (max-width: $phone-size) and (orientation: portrait) {
    .moviePage {
        flex-direction: column;
        gap: 1.5rem;
        img {
            width: 15rem;
        }
    }
}

@media (min-width: $phone-size) and (max-width: $tablet-size) and (orientation: portrait) {
    .moviePage {
        img {
            width: 20rem;
        }
    }
}

@media (min-width: $tablet-size) and (max-width: $laptop-size) {
    .moviePage {
        justify-content: center;
        img {
            width: 20rem;
        }
    }
}

@media (min-width: $laptop-size) {
    .moviePage {
        justify-content: center;
        img {
            width: 25rem;
        }
    }
}
