$phone-size: 768px;
$tablet-size: 1200px;
$laptop-size: 1440px;
$monitor-size: 1920px;

$h1-phone-size: 20px;

$h2-phone-size: 16px;
$h2-tablet-size: 18px;
$h2-laptop-size: 20px;
$h2-monitor-size: 24px;

$p-phone-size: 14px;
$p-tablet-size: 16px;
$p-laptop-size: 18px;
$p-monitor-size: 22px;

$main-dark-color: #222831;
$main-bg-color: #31363f;

$btn-color: #76abae;
$txt-color: #eee;

$border-radius: 1rem;

@font-face {
    font-family: "Cinzel-Bold";
    src: url("./assets/fonts/Cinzel-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LTVeritas";
    src: url("./assets/fonts/LTVeritas.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: $main-bg-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cinzel-Bold";
    text-align: center;
}

h1 {
    font-size: 28px;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    color: $btn-color;
    text-shadow: 1.5px 1.5px 1.5px black;
}
