@use "../../App.scss" as *;

.home {
    h1 {
        color: $btn-color;
        letter-spacing: 0.1rem;
        margin: 2rem 0;
    }
}

@media (max-width: $phone-size) and (orientation: portrait) {
    .home {
        h1 {
            font-size: $h1-phone-size;
            margin: 1rem 0;
        }
    }
}
